<div
  tuiAppearance="floating"
  tuiCardLarge
  class="summary-card"
>
  <header tuiHeader>
    <h2 tuiTitle>Events Summary</h2>
    <button
      tuiButton
      size="l"
      type="button"
      routerLink="/events"
    >Go To Events
      <tui-icon icon="arrow-right" />
    </button>
  </header>

  @if (!eventStore.events().length) {
    <section class="empty-events" (click)="createNewEvent()">
      <tui-icon icon="plus"></tui-icon>
      <h2>Add An Event</h2>
    </section>
  } @else {
    <section>
      @for (event of eventStore.events(); track event.name) {
        <div
          tuiAppearance="floating"
          tuiCardLarge
        >
          <header tuiHeader>
            <h2 tuiTitle>{{ event.name }}</h2>
            <button
              tuiButton
              size="s"
              type="button"
            >
              <tui-icon icon="pencil" />
            </button>
          </header>
          <section>
            <div class="flex w-full">
              <div tuiCardMedium tuiAppearance="outline" class="me-3 pt-0 ps-" [style.padding-top]="'0px'">
                <div class="flex flex-col align-top w-full">
                  <h2 class="pb-1 text-center text-xl font-bold">Days</h2>
                  <hr class="border-0 h-px bg-gray-200 w-full" />
                </div>
                <div class="w-full text-center">
                  <div class="text-7xl">{{ calcDays(event.startDate, event.endDate) }}</div>
                </div>
              </div>
              <div tuiCardMedium tuiAppearance="outline" [style.padding]="'0px'">
                <div class="flex flex-col align-top w-full">
                  <h2 class="pb-1 text-center text-xl font-bold bg-indigo-500 text-white">{{ event.startDate | month }}</h2>
                  <hr class="border-0 h-px bg-gray-200 w-full" />
                </div>
                <div class="w-full text-center">
                  <div class="text-7xl">{{ event.startDate.getDate() }}</div>
                </div>
              </div>
            </div>
            <p>{{ event.location }}</p>
            <p>{{ event.startDate | date: 'medium' }}</p>
            <p>{{ event.startTime | date: 'shortTime' }}</p>
          </section>
        </div>
      }
    </section>
  }
</div>
