:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.empty-events {
  display: flex;
  block-size: 3.125rem;
  border-radius: 0.75rem;
  justify-content: center;
  align-items: center;
  color: var(--tui-text-secondary);
  border: 3px dashed;
  min-height: 20rem;
  padding: 3rem;
  cursor: pointer;
}

.empty-events:hover {
  border: 3px dashed var(--tui-background-accent-1-hover);
  h2 {
    color: var(--tui-background-accent-1-hover)
  }
  tui-icon {
    color: var(--tui-background-accent-1-hover)
  }
}

.summary-card {
  width: 80%;
}
